# Development / Sandbox Database (dev-db.heatfleet.com)
DEV_DB_HOST=dev-db.heatfleet.com
DEV_DB_PORT=3306
DEV_DB_USER=your_dev_user
DEV_DB_PASSWORD=your_dev_password
DEV_DB_NAME=hunterdb

# REBNY Clone Database (renby.systemstar.com)
CLONE_DB_HOST=renby.systemstar.com
CLONE_DB_PORT=3310
CLONE_DB_USER=your_clone_user
CLONE_DB_PASSWORD=your_clone_password
CLONE_DB_NAME=hunterdb_dev

# BunnyCDN Storage & Pull Zone
BUNNY_STORAGE_ACCESS_KEY=your_bunny_storage_access_key
BUNNY_STORAGE_ZONE=hunter-instient-1
BUNNY_STORAGE_ENDPOINT=https://ny.storage.bunnycdn.com
BUNNY_PULL_ZONE_URL=https://hunter-pull-1.b-cdn.net
